PORT=4000
WEB_ORIGIN=http://localhost:3000,http://localhost:3003,http://127.0.0.1:3000,http://127.0.0.1:3003
OPEN_BANKING_BASE_URL=
MERCHANT_ID=uuid
# MERCHANT_API_SIGNING_SECRET=PuMIIgxaghbtOIlD67ukbIq_q4koHVhPLV2HFCJuyq7zBbrTOCSowQlF2_yfriEo
MERCHANT_API_SIGNING_SECRET=
MERCHANT_WEBHOOK_SIGNING_SECRET=
DEFAULT_EXPIRES_IN_MINUTES=3
